* {
  box-sizing: border-box;
}

body {
  background-color: rgb(184, 219, 217);
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(182,182,224);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boxes {
  display: none;
  background-color: rgb(88,111,124);
  padding: 10px;
  border-radius:  25px;
  margin: 10px;
}

footer {
  background-color: rgb(47,69,80);
  color:beige;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  background-color: bisque;
  border-radius: 25px;
  padding: 30px;
}

.cards {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.front-view {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.card {
  cursor: pointer;
  max-height: 45px;
background-color: blue;
display: flex;
align-items: center;
justify-content: center;
height: calc(100% / 4 - 10px);
width: calc(100% / 4 - 10px);
}

.back-view {
  max-height: 45px;
  background-color: blueviolet;
  list-style-type: none;
}

img {
  max-height: 45px;
}

