* {
  box-sizing: border-box;
}

body {
  background-color: rgb(184, 219, 217);
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(182,182,224);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boxes {
  display: none;
  background-color: rgb(88,111,124);
  padding: 10px;
  border-radius:  25px;
  margin: 10px;
}

footer {
  background-color: rgb(47,69,80);
  color:beige;
}